body {
    cursor: url('static/red\ dot\ cursor.png'), auto;
    background-image: url('./static/paper\ background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #ece5da; 
    padding: 0;
    margin: 0;
    z-index: 1;
}

.carousel-container {
    overflow-x: auto;
    white-space: nowrap;
}

.carousel .item {
    display: inline-block;
    width: 300px; /* Adjust as needed */
    margin-right: 20px; /* Spacing between items */
    text-align: center;
}

.carousel img {
    width: 100%;
    height: auto;
}

/* Optional: Add styles for scrollbar */
.carousel-container::-webkit-scrollbar {
    height: 10px;
}

.carousel-container::-webkit-scrollbar-thumb {
    background: #888; 
}

.carousel-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
